[Unit]
Description=Wipe keeped modules
After=local-fs.target
Before=umount.target

[Service]
Type=oneshot
ExecStart=/usr/share/libalpm/scripts/keep-modules wipe

[Install]
WantedBy=multi-user.target
